<!DOCTYPE html>
<html>
<head>
  <title>뭐한대?! | 소중규모 문화콘텐츠 플랫폼</title>
  <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
        <title>뭐한대?!</title>
        <link rel='stylesheet' href='http://fonts.googleapis.com/earlyaccess/jejugothic.css'>
        <link href="/css/font-awesome.css" rel="stylesheet">
        <link href="/css/simple-line-icons.css" rel="stylesheet">
        <link href="/css/fullscreen-slider.css" rel="stylesheet">
        <link href="/css/bootstrap.css" rel="stylesheet">
        <link href="/css/app.css" rel="stylesheet">
        
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
   <script type="text/javascript">
   var input_elements = document.getElementsByTagName("input");
   var ckb = [];
   $(document).ready(function(){
    for (var i=0; i < input_elements.length; i++){
     if (input_elements[i].type.toLowerCase() === 'checkbox'){
       ckb.push(input_elements[i]);
     }
   }
   });
   
    function chkcontrol(j) {
      var total=0;
      for(var i=0; i < ckb.length; i++){
        if(total > 3){
          alert("공연 카테고리는 3개의 장르만 선택가능합니다.") 
          ckb[j].checked = false ;
          return false;
          }
        if(ckb[i].checked){
          total =total +1;
        }
          
      }
    } 
  </script>
    
  <script>
    function delalert(){
      alert("정말로 삭제하겠습니까?") 
    }
  </script>
</head>
<body>
  

<%= yield %>

</body>
</html>
