<!DOCTYPE html>
<html>
<head>
  <title>뭐한대?! | 소중규모 문화콘텐츠 플랫폼</title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
